EJ3_PAP.xml


<!--
Nombre: [Paul Andres Peley El Kadi]
Curso: [Asir1]
Fecha: [04/03/2025]
Ejercicio: [DTD]
-->

<!ELEMENT agenda (nombre, apellido+, telefono, fecha_nacimiento, lugar_nacimiento)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT fecha_nacimiento (anio mes, dia)>
<!ELEMENT anio (#PCDATA)>
<!ELEMENT mes (#PCDATA)>
<!ELEMENT dia (#PCDATA)>
<!ELEMENT lugar_nacimiento (pais, ciudad, localidad)>
<!ELEMENT pais (#PCDATA)>
<!ELEMENT ciudad (#PCDATA)>
<!ELEMENT localidad (#PCDATA)>